{include file='/tpl/head'}
<div class="div_from_aoto" style="margin: 0 auto;width: 500px;">
    <form action="{:url('tools/set_menu')}" method="post" id="user_add_form">
        <div class="control-group">
            <label class="laber_from">菜单名称(必填):</label>
            <div class="form-group">
                <input class="form-control" name="name" type=text placeholder="请输入名称" v-min="2" v-max="8">
                <P class=help-block></P></div>
        </div>
        <div class="control-group">
            <label class="laber_from">排序位置(必填):</label>
            <div class="form-group">
                <input class="form-control" name="order" type=text placeholder="请输入排序位置" v-min="2" v-max="8">
                <P class=help-block></P></div>
        </div>

        <div class="control-group">
            <label class="laber_from"></label>
            <div class="form-group">
                <button type="button" onclick="window.location.reload()" class="btn btn-primary" style="width:120px;">重置</button>
                <button type="button" id="sub_btn_form" class="btn btn-success" style="width:120px;">确认</button>
            </div>
        </div>
    </form>
    <table class="table table-hover">
        <tr>
            <th>菜单名称</th>
            <th>排序位置</th>
            <th>操作</th>
        </tr>
        {foreach $data as $row}
        <tr>
            <td>
                {$row.name}
            </td>
            <td>
                {$row.order}
            </td>
            <td>
                <a href="{:url('tools/menu_del',['id'=>$row.id])}" onclick="if (!window.confirm('删除后不能找回')) return false" type="button" class="glyphicon glyphicon-trash"></a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>

<div>
</div>
{include file='/tpl/msg'}
<script type="text/javascript">
    $('#sub_btn_form').click(function () {
        $('#user_add_form').v_validate();
    });
</script>