{include file='/tpl/head'}
<div class="div_from_aoto" style="margin: 0 auto;width: 100%;height:100%;overflow-y:scroll;overflow-x:hidden">
    <form action="{:url('tools/set_content')}" method="post" id="user_add_form">
        <div class="control-group">
            <label class="laber_from">内容标题(必填):</label>
            <div class="form-group">
                <input class="form-control" name="title" type=text placeholder="请输入内容标题" v-min="2" v-max="8">
                <P class=help-block></P></div>
        </div>
        <div class="control-group">
            <label class="laber_from">菜单名称(必填):</label>
            <div class="form-group">
                <select name="menu_id" id="select_menu_id" class="form-control">
                    {foreach $menu as $item}
                        <option value="{$item.id}">{$item.name}</option>
                    {/foreach}
                </select>
                <P class=help-block></P></div>
        </div>
        <script id="container" name="content" type="text/plain"></script>
        <div class="control-group">
            <label class="laber_from"></label>
            <div class="form-group">
                <button type="button" onclick="window.location.reload()" class="btn btn-primary" style="width:120px;">
                    重置
                </button>
                <button type="button" id="sub_btn_form" class="btn btn-success" style="width:120px;">确认</button>
            </div>
        </div>
    </form>
    <table class="table table-hover">
        <tr>
            <th>内容标题</th>
            <th>菜单名称</th>
            <th>操作</th>
        </tr>
        {foreach $data as $row}
        <tr>
            <td>
                {$row.title}
            </td>
            <td>
                {$row.menu_name}
            </td>
            <td>
                <a href="{:url('tools/look_content',['id'=>$row.id])}"  type="button" class="glyphicon glyphicon-search"></a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>

<div>
</div>
{include file='/tpl/msg'}
<script type="text/javascript" src="/static/admin/uedit/ueditor.config.js"></script>
<script type="text/javascript" src="/static/admin/uedit/ueditor.all.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('container');
    $('#sub_btn_form').click(function () {
        if (ue.getContent() == ''){
            $().wh_error_notice('请填写编辑器内容');
            return false;
        }
        $('#user_add_form').v_validate();
    });
</script>