<style>
    .rightwidth {
        width: 340px;
    }
</style>
<!--footer start-->

<div class="coin_footer" style="position:relative;">
    <div class="coin_hint">

        <h2>{$info_one4.title|default="风险提示"}</h2>
        <p>{$config['risk']?=$config['risk']}</p>
    </div>
    <div class="coin_footerbar">
        <div class="coin_footer_nav clearfix">
            <div class="coin_nav left">
                <h2>{$menu[0]['name']?=$menu[0]['name']}</h2>
                <ul>
                    {foreach $menu[0]['title'] as $item}
                    <li>{$item.title}</li>
                    {/foreach}
                </ul>
            </div>
            <div class="coin_nav left">
                <h2>{$menu[1]['name']?=$menu[1]['name']}</h2>
                <ul>
                    {foreach $menu[1]['title'] as $item}
                    <li>{$item.title}</li>
                    {/foreach}
                </ul>
            </div>
            <div class="coin_nav left">
                <h2>{$menu[2]['name']?=$menu[2]['name']}</h2>
                <ul>
                    {foreach $menu[2]['title'] as $item}
                    <li>{$item.title}</li>
                    {/foreach}
                </ul>
            </div>
            <div class="coin_nav coin_nav02 left">
                <h2 class="clearfix"><span class="left">联系我们</span><a href="http://weibo.com/{$weibo?=$weibo}"
                                                                      target="_blank" class="coin_sina left"></a>
                    <!--<a href="#" id="coin_weixin" class="coin_wei left"></a>--></h2>
                <ul>
                    <li>客服电话：{$config['tel']|default="暂无"}</li>
                    <li>客服QQ：{$config['qq1']|default="暂无"}</li>
                    <li><a href="mailto:{$email?=$email}">客服邮箱：{$config['email']|default="暂无"}</a></li>
                    <li>
                        <a href="mailto:{$business_email?=$business_email}">业务合作：{$config.business_email|default="暂无"}</a>
                    </li>
                </ul>
            </div>
            <div class="coin_nav coin_nav02 left rightwidth" style="position:relative;">
                <div style=" float:left; padding-left:16px;">
                    <div style="margin-left: 2em">
                        <ul>
                            {if !empty($config['qq_group'])}
                            {foreach $config['qq_group'] as $k=>$item}
                            <li>QQ群{$k}：{$item}</li>
                            {/foreach}
                            {/if}
                        </ul>
                    </div>
                    <p class="coin_phoneqq"><a href="http://wpa.qq.com/msgrd?v=3&uin={$qq?=$qq}&site=qq&menu=yes"
                                               target="_blank">在线客服</a></p>
                    <p>{$config.work_time|default="暂无"}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_aq">
        <p>{$config['copyright']?=$config['copyright']}</p>
        <p>{$config['record']?=$config['record']}</p>
        <ul class="footerSafety clearfix">
            <li class="safety02"><a href="http://net.china.com.cn/" target="_blank"></a></li>
            <li class="safety03"><a href="http://webscan.360.cn/index/checkwebsite/?url={$host?=$host}"
                                    target="_blank"></a></li>
            <li class="safety04"><a href="http://www.cyberpolice.cn/wfjb/" target="_blank"></a></li>
        </ul>
    </div>
    <div id="weixin" style="position:absolute; bottom:88px; left:50%; margin-left:170px; display:block;">
        <img src="">
    </div>
    <script>
        $('#coin_weixin').mouseover(function () {
            $('#weixin').show();
        }).mouseout(function () {
            $('#weixin').hide();
        });
    </script>
    <!--footer end-->
    <script type="text/javascript" src="/static/index/home/js/gotop.js"></script>
    <script type="text/javascript" src="/static/index/home/js/link.js"></script>
    <script type="text/javascript" src="/static/index/home/js/slides.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?0ab4db557b96d841137861e0740d1e0a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        $('.hidden-xs').hide();
    </script>


</div></body></html>