{include file="/tpl/header"}
<script type="text/javascript" src="/static/index/kline/code/highstock.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<script>
    $(function () {
        var time = create_time(20000)
        setInterval(append_tab, time);
    });
</script>

<style>
    .my_coin ul li {
        font-size: 12px;
        width: 145px;
        height: 24px;
        overflow: hidden;
    }
</style>
<div id="main" style="background:#fbfaf8; padding-top:0;">
    <div class="total_top" style="margin-bottom: 20px;">
        <div class="price">
            <div class="left coin_coin">{$use.name}<br>
                <span id="currency_mark">{$use.currency}</span>
            </div>
            <ul class="right now_price">
                <li>最新价<br>
                    <span class="money" id="new_price">{$forex.price}</span></li>
                <li>开盘价 / 昨收价<br>
                    <span id="24h_sell">{$forex.kp_price}</span><span> / </span><span
                            id="24h_buy">{$forex.zs_price}</span></li>
                <li>最高价 / 最低价<br>
                    <span id="24h_max">{$forex.zg_price}</span><span> / <span><span
                            id="24h_min">{$forex.zd_price}</span></span></span></li>
                <li>涨 / 跌<br>
                    <img src="/static/index/home/images/{$forex.change_color}.gif"><span id="24h_count"
                                                                                         style="color: {$forex.change_color}">{$forex.change}</span>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="main_box">
        <!--普通-->
        <div class="k_img k-box" id="k-cus-box">
            <div id="graphbox" style="width:96%;height:455px;margin:0px auto;">
                <div id="container" style="height: 410px; min-width: 460px"></div>
                <!--<div id="chart-control" data="ybc" class="btn-group centered" style="width: 98%;height: 30px;line-height: 30px; marign:0 auto;text-align:center">-->
                    <!--<button data-time="kline_5m" class="btn">5分钟线</button>-->
                    <!--<button data-time="kline_15m" class="btn">15分钟线</button>-->
                    <!--<button data-time="kline_30m" class="btn">30分钟线</button>-->
                    <!--<button data-time="kline_1h" class="btn btn-success">1小时线</button>-->
                    <!--<button data-time="kline_8h" class="btn">8小时线</button>-->
                    <!--<button data-time="kline_1d" class="btn ">日线</button>-->
                <!--</div>-->
            </div>
        </div>
        <!--交易币种id-->
        <input value="" name="currency_id" type="hidden" id="currency_id">
        <!--交易币种id-->
        <div class="trading left clearfix">
            <div class="my_coin">
                <!--登录后-->
                {if !empty($online_user)}
                <ul>
                    <li style="width: 200px; overflow: hidden; height: 24px;">我的资产：{$online_user.money
                        ?$online_user.money : '0.0000'}
                    </li>
                    <li>可用：<span class="sell" id="to_over">{$online_user.can ? $online_user.can : '0.0000'}</span></li>
                    <li>冻结：<span class="buy" id="to_lock">{$online_user.block ? $online_user.block : '0.0000'}</span>
                    </li>
                    <div class="clear"></div>
                </ul>
                <ul>
                    <li style="width: 200px; overflow: hidden; height: 24px;">{$use.currency}：{$online_user.money
                        ?$online_user.money : '0.0000'}
                    </li>
                    <li>可用：<span class="sell" id="to_over">{$online_user.can ? $online_user.can : '0.0000'}</span></li>
                    <li>冻结：<span class="buy" id="to_lock">{$online_user.block ? $online_user.block : '0.0000'}</span>
                    </li>
                    <div class="clear"></div>
                </ul>
                {else}
                <p>我的资产：<a href="{:url('member/login')}">登录</a> | <a href="{:url('member/register')}">注册</a></p>
                {/if}
            </div>
            <div class="curve pay">
                <div class="buysell sellform">
                    <div class="buyformarea left">
                        <h2 class="buy">买入{$use.currency} </h2>
                        <ul class="buyform" id="member_buy_form">
                            <li>
                                <label>交易类型：</label>
                                <select name="jy_type" class="jy_type_select_buy">
                                    <option value="1">市价</option>
                                    <option value="2">限价</option>
                                </select>
                            </li>
                            <li>
                                <label for="price" class="buys">买入价格：</label>
                                <input id="price" value="" style="color:#999" name="buy_price" id="coinpricein"
                                       type="text" v-data="require">
                            </li>
                            <!--<li>-->
                            <!--<label for="coinbuy_max" class="buys">最大可买：</label>-->
                            <!--<b id="coinbuy_max" title="点击将数值写入数量输入框"></b><span class="maxcoin">0</span>-->
                            <!--</li>-->
                            <li>
                                <label for="buynum" class="buys">买入数量：</label>
                                <input id="buynum" style="display:none;">
                                <!-- for disable autocomplete on chrome -->
                                <input name="buynum" id="numberin" autocomplete="off" type="text" value=""
                                       v-data="number">
                            </li>
                            <li>
                                <label for="buyword" class="buys">交易密码：</label>
                                <input id="buyword" style="display:none;">
                                <!-- for disable autocomplete on chrome -->
                                <input class="buyinput" value="" id="pwdtradein" autocomplete="off" type="password"
                                       name="buypwd" v-data="require">
                            </li>
                            <!--<li style="margin-bottom:0;">-->
                            <!--<label for="feebuy" class="buys">手续费：</label>-->
                            <!--<b id="feebuy">0.00</b><span>（{$currency.currency_buy_fee|default="0.00%"}% {$currency.currency_mark|default="&#45;&#45;"}）</span>-->
                            <!--</li>-->
                            <li>
                                <label for="coinin_sumprice" class="buys">交易额：</label>
                                <b id="coinin_sumprice">0.00</b> {$currency_trade.currency_mark|default="CNY"}
                            </li>
                        </ul>
                        <p class="sellform">
                            <input id="trustbtnin" class="submit" value="买入" type="button">
                        </p>
                        <p class="sellform" style="margin:15px 0;"><span id="trustmsgin" class="tishi"></span>
                        </p>
                    </div>
                    <div class="buyformarea right">
                        <h2 class="sell">卖出{$use.currency} </h2>
                        <ul class="buyform sellform">
                            <li>
                                <label>交易类型：</label>
                                <select name="jy_type" class="jy_type_select_sale">
                                    <option value="1">市价</option>
                                    <option value="2">限价</option>
                                </select>
                            </li>
                            <li>
                                <label for="price" class="buys">卖出价格：</label>
                                <input value="{$currency_message.buy_one_price|default='0.000'}" name="sale_price"
                                       style="color:#999" class="buyinput" id="coinpriceout" type="text">
                            </li>
                            <!--<li>-->
                            <!--<label for="coinsale_max" class="buys">最大可卖：</label>-->
                            <!--<b id="coinsale_max">{$sell_num|default=0}</b><span></span>-->
                            <!--</li>-->
                            <li>
                                <label for="buynum" class="buys">卖出数量：</label>
                                <input style="display:none;">
                                <!-- for disable autocomplete on chrome -->
                                <input class="buyinput" id="numberout"
                                       onkeyup="vNum2(this);" autocomplete="off"
                                       type="text">
                            </li>
                            <li>
                                <label for="buyword" class="buys">交易密码：</label>
                                <input style="display:none;">
                                <!-- for disable autocomplete on chrome -->
                                <input class="buyinput" id="pwdtradeout" autocomplete="off" type="password">
                            </li>
                            <!--<li style="margin-bottom:0;">-->
                            <!--<label for="fee" class="buys">手续费：</label>-->
                            <!--<b id="fee">0.00</b><span>（{$currency.currency_sell_fee|default="0.00"}% {$currency_trade.currency_mark|default="&#45;&#45;"}）</span>-->
                            <!--</li>-->
                            <li>
                                <label for="coinout_sumprice" class="buys">交易额：</label>
                                <b id="coinout_sumprice">0.00</b>{$currency_trade.currency_mark|default="CNY"}
                            </li>
                        </ul>
                        <p class="sellform2">
                            <input class="submit" id="trustbtnout" value="卖出" onclick="sell();" type="button">
                        </p>
                        <p class="sellform" style="margin:15px 0;"><span id="trustmsgout" class="tishi"></span>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <h2>最新成交<a href="{:url('Trade/myDeal')}" class="right my_coin_trade">我的成交</a></h2>
                <div class="buysell" style="border:1px solid #d2d2d2;">
                    <ul class="record_title">
                        <li>成交时间</li>
                        <li>类型</li>
                        <li>成交价格</li>
                        <li>成交量</li>
                        <li>总计</li>
                    </ul>
                    <div class="record">
                        <table class="latest_list record_list" align="center" border="0" cellpadding="0"
                               cellspacing="0">
                            <tbody id="coinorderlist">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="latest right clearfix">
            <p class="more_coin"><a href="{$currency.detail_url|default=''} " target="_blank">查看货币详情</a></p>

            <notempty name="session">

                <h2 style="margin-top:20px;">我的委托<a href="{:url('Entrust/manage')}" class="right my_coin_trade">全部委托</a>
                </h2>
                <div style="border:1px solid #d2d2d2; color:#333;">
                    <ul class="my_title">
                        <li style=" width:40px;">类型</li>
                        <li style=" width:65px; text-align:left; padding-left:10px;">委托价格</li>
                        <li style=" width:100px; text-align:left; padding-left:10px;">委托数量</li>
                        <li style=" width:52px; text-align:left; padding-left:10px;"></li>
                        <li style=" width:52px; text-align:left; padding-left:10px;">操作</li>
                    </ul>
                    <div class="my_record">
                        <table class="latest_list weituo" style=" width:291px;" align="center" border="0"
                               cellpadding="0" cellspacing="0">
                            <tbody id="mycointrustlist">
                            <foreach name='user_orders' item='v'>
                                <tr class="list_con2">
                                    <td class="{} left_sell" style="width:55px;">
                                        {$v['type']?=$v['type']}
                                    </td>
                                    <td style="width:50px;">{$v.price|default=0.00}</td>
                                    <td>{}</td>
                                    <td style="width:60px;"><span
                                            style="" class="{}Span"></span></td>
                                    <td style="width:40px;"><a href="javascript:void(0)"
                                                               onclick="cexiao({})">撤销</a></td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
                <else/>
                <div style="border:1px solid #e2e2e2; margin:15px 0; padding:15px; color:#333; background:#fff; line-height:20px; font-size:14px; text-align:left;">
                    <p style="width:278px; word-break:break-all;">交易规则：<br>
                        {}
                    </p>
                </div>
            </notempty>
            <div style="margin-top:0px;">
                <h2>委托信息</h2>
            </div>
            <table cellspacing="0" cellpadding="0" border="0" class="latest_list weituo" align="center"
                   style="border:1px solid #d2d2d2;">
                <tbody id="coinsalelist">
                <volist name='sell_record' key='k' id='vo'>
                    <tr class="list_con2">
                        <td class="sell left_sell" style="width:55px;">卖(

                            )
                        </td>
                        <td style="width:70px;" onclick="getsell(this)">{$vo.price|default=0.00}</td>
                        <td onclick="sellnum(this)">{}</td>
                        <td style="width:80px;"><span style="" class="sellSpan"></span></td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <table cellspacing="0" cellpadding="0" border="0" class="latest_list weituo" align="center"
                   style="border:1px solid #d2d2d2;">
                <thead>
                <tr style="height:26px;">
                    <th style="height:26px; text-align:center; width:55px;" class="left_sell">卖 / 买</th>
                    <th style="height:26px; width:70px;">价格</th>
                    <th style="height:26px;">委托量</th>
                    <th style="height:26px;">&nbsp;</th>
                </tr>
                </thead>
                <tbody id="coinbuylist">
                {if !empty($buy_record)}
                <volist name='buy_record' key='k' id='vo'>
                    <tr class="list_con2">
                        <td class="buy left_sell" style="width:55px;" onclick="getbuy(this);">买({$k})</td>
                        <td style="width:70px;" onclick="buynum(this);">{$vo.price|default=0.00}</td>
                        <td>{$vo['num']-$vo['trade_num']}</td>
                        <td style="width:80px;"><span style="width:{$vo.bili}%" class="buySpan"></span></td>
                    </tr>
                </volist>
                {/if}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>
<format id="price_float" data="3"></format>
<!--footer start-->
{include file="/tpl/footer"}
{include file='/tpl/msg'}
<!--footer end-->
<input type="hidden" value="{$currency.currency_name|default='虚拟币'}" id="cname"/>
<script type="text/javascript">
    $('#numberin').keyup(function () {
        var number = $(this).val();
        var jy_type_select_buy = $('.jy_type_select_buy').val();
        if (isNaN(number)) {
            return false;
        }
        var price = 0;
        if (jy_type_select_buy == 1) {
            price = "{$forex.price ? $forex.price : 0}";
        } else {
            price = $('input[name="buy_price"]').val();
            if (!price) {
                return false;
            }
        }
        var toteal_price = number * price;
        $('#coinin_sumprice').text(toteal_price.toFixed(4));
    });

    $('#trustbtnin').click(function () {
        $('#member_buy_form').v_validate('ajax', function () {
            var buy_money = $('input[name="buy_price"]').val();
            var numberin = $('#numberin').val();
            var pwdtradein = $('#pwdtradein').val();
            var parms = {};
            var url = '';
            if ($('.jy_type_select_sale').val() == 1) {
                var currency = "{$use.currency}";
                parms = {currency: currency, numberin: numberin, pwdtradein: pwdtradein};
                url = "{:url('order/buy')}";
            } else {
                parms = {buy_money: buy_money, numberin: numberin, pwdtradein: pwdtradein};
                url = "{:url('order/wt_buy')}";
            }
            $.post(url, parms, function (result) {

            }, 'json');
        });
    });
    $('input[name="buy_price"]').val("{$forex.price ? $forex.price : '0.0000'}");
    $('input[name="sale_price"]').val("{$forex.price ? $forex.price : '0.0000'}");
    $('input[name="buy_price"]').attr('disabled', true);
    $('input[name="sale_price"]').attr('disabled', true);
    $('.jy_type_select_buy').change(function () {
        var self = $(this);
        var price = "{$forex.price ? $forex.price : '0.0000'}";
        var no_price = '0.0000';
        if (self.val() == 1) {
            $('input[name="buy_price"]').val(price);
            $('input[name="buy_price"]').attr('disabled', true);
        } else {
            $('input[name="buy_price"]').val(no_price);
            $('input[name="buy_price"]').attr('disabled', false);
        }
    });
    $('.jy_type_select_sale').change(function () {
        var self = $(this);
        var price = "{$forex.price ? $forex.price : 0}";
        var no_price = '0.0000';
        if (self.val() == 1) {
            $('input[name="sale_price"]').val(price);
            $('input[name="sale_price"]').attr('disabled', true);
        } else {
            $('input[name="sale_price"]').val(no_price);
            $('input[name="sale_price"]').attr('disabled', false);
        }
    });
    function append_tab() {
        var time = new Date();
        var m = time.getMonth() + 1;
        var t = time.getFullYear() + "-" + m + "-"
                + time.getDate() + " " + time.getHours() + ":"
                + time.getMinutes() + ":" + time.getSeconds();
        var rand_num = Math.random();
        var buy_type = '';
        var buy_color = '';
        if (rand_num < 0.5) {
            buy_type = '买入';
            buy_color = 'red';
        } else {
            buy_type = '卖出';
            buy_color = 'green';
        }
        var price = "{$forex.price ? $forex.price : 0}";
        if (price == 0) {
            price = Math.random() * 10000;
            price = Math.round(price) / 10000;
        }
        var buy_num = Math.random() * 1000;
        buy_num = Math.round(buy_num);
        var count_price = buy_num * price;
        count_price = Math.round(count_price * 10000) / 10000;
        var tr = '<tr><td class="list_con1">' + t + '</td> <td class="list_con1" style="color: ' + buy_color + ';">' + buy_type + ' </td> <td class="list_con1" style="color: ' + buy_color + ';">' + price + '</td> <td class="list_con1">' + buy_num + '</td> <td class="list_con1">' + count_price + '</td> </tr>';
        var time_out = create_time(10000);
        setTimeout($('#coinorderlist').prepend(tr), time_out);
    }

    function create_time(num) {
        var interval_time = Math.random() * num;
        interval_time = parseInt(interval_time);
        return interval_time;
    }


    $.getJSON('http://data.jianshukeji.com/jsonp?a=e&filename=json/aapl-ohlc.json&callback=?', function (data) {
        // create the chart
        $('#container').highcharts('StockChart', {
            rangeSelector: {
                allButtonsEnabled: true,
                inputEnabled: false,
                buttons: [{
                    type: 'minute',
                    count: 1,
                    text: '1分'
                }, {
                    type: 'minute',
                    count: 5,
                    text: '5分'
                }, {
                    type: 'minute',
                    count: 15,
                    text: '15分'
                }, {
                    type: 'minute',
                    count: 30,
                    text: '30分'
                }, {
                    type: 'hour',
                    count: 1,
                    text: '1小时'
                }, {
                    type: 'hour',
                    count: 8,
                    text: '8小时'
                }, {
                    type: 'day',
                    count: 1,
                    text: '1天'
                }],
                selected: 1
            },
            title: {
                text: 'AAPL Stock Price'
            },
            series: [{
                type: 'candlestick',
                name: 'AAPL Stock Price',
                data: data,
                color: 'green',
                lineColor: 'green',
                upColor: 'red',
                upLineColor: 'red',

                dataGrouping: {
                    units: [
                        [
                            'week', // unit name
                            [1] // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]
                        ]
                    ]
                }
            }]
        });
    });

    Highcharts.setOptions({
        global: {
            useUTC: false
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
//        navigator: {
//            enabled: false
//        },
//        scrollbar:{
//            enabled: false
//        },
        lang: {
            rangeSelectorFrom: "日期:",
            rangeSelectorTo: "至",
            rangeSelectorZoom: "范围",
            loading: '加载中...',
        }
    });
</script>

<script>
    function cexiao(_this) {
        layer.confirm('确定撤销委托？', {
            btn: ['确定', '取消'], //按钮
            title: '撤销委托'
        }, function () {
            $.post('{:url('
            Entrust / cancel
            ')}', {status: -1, order_id: _this}, function (data) {
                if (data['status'] == 1) {
                    layer.msg(data['info']);
                    setTimeout(window.location.reload(), 1000);
                } else {
                    layer.msg(data['info']);
                }
            }
            )
        }, function () {
            layer.msg('已取消');
        });

    }

    function getsell(_this) {
        $("#coinpricein").val($(_this).text());
        zuidakemai();
    }
    function sellnum(_this) {
        $("#numberin").val($(_this).text());
    }
    function getbuy(_this) {
        $("#coinpriceout").val($(_this).text());
    }
    function buynum(_this) {
        $("#numberout").val($(_this).text());
    }

</script>