{include file="/tpl/header"}
<style>
    .passContent .tagContent .ybc_con li label {
        float: inherit;
        padding-left: 10px;
    }

    .error {
        color: #999;
    }
</style>
<script>
    $(document).ready(function () {
        start = document.cookie.indexOf("motip=")
        if (start != -1) {
            start = start + 6
            end = start + 1
            motip = unescape(document.cookie.substring(start, end))
            if (motip == 1)
                $('#phone_top_div').show();
        }
    });

    function hidephone() {
        $('#phone_top_div').hide();
        var d = new Date()
        d.setTime(d.getTime() + 7200)
        document.cookie = "motip=2;expires=" + d.toUTCString()
    }
</script>
<div id="main">
    <div class="main_box">
        <div class="raise clearfix" style="margin: 0 auto;">
            <link rel="stylesheet" href="/static/index/home/css/layer.css">
            <h2>修改密码</h2>
            <div class="support_ybc pass_ybc">
                <ul id="pass_change">
                    <li class="">
                        <a id="member_update_login_pass" onclick="selectTag('tagContent0',this)" href="javascript:void(0)">修改密码</a>
                    </li>
                    <li class="selectTag">
                        <a id="member_update_pay_pass" onclick="selectTag('tagContent1',this)" href="javascript:void(0)">修改交易密码</a>
                    </li>
                    <div class="clear"></div>
                </ul>
                <div id="tagContent" class="passContent">
                    <div class="tagContent selectTag" id="tagContent0" style="display: none;">
                        <form method="post" id="signupForm" action="{:url('safe/do_update_pass')}" id="update_login_pass_form">
                            <ul class="ybc_con" style="margin-left: 150px;">
                                <li><label for="password">登录密码：</label><input name="oldpwd" id="oldpwd" type="password">
                                </li>
                                <li>
                                    <label for="newword">新密码：&nbsp;&nbsp;&nbsp;&nbsp;</label><input name="pwd" id="pwd" type="password">
                                </li>
                                <li><label for="repeat">重复密码：</label><input name="repwd" id="repwd" type="password">
                                </li>
                                <li>
                                    <label class="buys">&nbsp;</label><input class="tijiao" value="提交" id="update_login_pass_btn" type="submit">
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="tagContent" id="tagContent1" style="display: block;">
                        <script type="text/javascript" src="/static/index/home/js/tab2.js"></script>
                        <script type="text/javascript">
                            //$('#member_update_login_pass').bind( "click",selectTag);
                            var active = "{$active}";
                            if (active == '1') {
                                $('#member_update_login_pass')[0].click();
                            } else {
                                $('#member_update_pay_pass')[0].click();
                            }
                            $('#update_login_pass_btn').click(function () {
                                var oldpwd = $('#oldpwd').val();
                                var pwd = $('#pwd').val();
                                var repwd = $('#repwd').val();
                                if (!oldpwd) {
                                    $('#oldpwd').v_error_tips('请输入历史密码');
                                    return false;
                                }
                                if (!pwd) {
                                    $('#oldpwd').v_error_tips('请输入新的密码');
                                    return false;
                                }
                                if (!repwd) {
                                    $('#repwd').v_error_tips('请输入新的确认密码');
                                    return false;
                                }
                                if (pwd != repwd) {
                                    $('#repwd').v_error_tips('两次密码输入不相符');
                                    return false;
                                }
                                return true;
                            });
                        </script>
                        <form method="post" id="PwdtradeForm" action="{:url('safe/do_update_paypass')}">
                            <ul class="ybc_con" style=" margin-left:150px;">
                                <li>
                                    <label for="password">登录密码：</label><input name="oldpwd_b" type="password" v-data="require">
                                </li>
                                <li>
                                    <label for="buypassword">交易密码：</label><input name="oldpwdtrade_b" type="password" v-data="require">
                                </li>
                                <li>
                                    <label for="newword">新交易密码：</label><input name="pwdtrade" id="pwdtrade" type="password" v-data="require">
                                </li>
                                <li>
                                    <label for="repeat">重复交易密码：</label><input name="repwdtrade" type="password" v-data="require">
                                </li>
                                <li>
                                    <label class="buys">&nbsp;</label><input class="tijiao" id="update_pay_pass" value="提交" type="button">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#update_pay_pass').click(function () {
                    var pwdtrade = $('input[name="pwdtrade"]').val();
                    var repwdtrade = $('input[name="repwdtrade"]').val();
                    if (pwdtrade != repwdtrade) {
                        $('input[name="repwdtrade"]').v_error_tips('两次交易密码输入不相符');
                        return false;
                    }
                    $('#PwdtradeForm').v_validate();
                });

            </script>
        </div>
        <div class="clear"></div>
    </div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
<script>
    $(".menu8").addClass("uc-current");
</script>
{include file="/tpl/footer"}
{include file='/tpl/msg'}